@model IEnumerable<ProvidersApp.Classes.Query10Data>

@{
    ViewBag.Title = "Результаты запроса";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            ФИО
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.full_name
        </td>
    </tr>
    }
</table>