@model IEnumerable<ProvidersApp.Classes.Query8Data>

@{
    ViewBag.Title = "Результаты запроса";
}

<h2>@ViewBag.Title</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>
            Телефон
        </th>
        <th>
            Дата
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.telephone_number
        </td>
        <td>
            @item.date
        </td>
    </tr>
    }
</table>