
@{
    ViewBag.Title = "Таблицы";
}
<br>
<div class="btn-group-vertical">
    <p>Таблица "Абоненты"</p>
    <p><a class="btn btn-default" href="/Subscribers">Перейти</a></p>
    <p>Таблица "Операторы"</p>
    <p><a class="btn btn-default" href="/Operators">Перейти</a></p>
    <p>Таблица "Платежи"</p>
    <p><a class="btn btn-default" href="/Payments">Перейти</a></p>
    <p>Таблица "Персональные данные"</p>
    <p><a class="btn btn-default" href="/Personal_data">Перейти</a></p>
    <p>Таблица "Регионы"</p>
    <p><a class="btn btn-default" href="/Regions">Перейти</a></p>
    <p>Таблица "Список подключений абонентов"</p>
    <p><a class="btn btn-default" href="/Subscriber_tariff_list">Перейти</a></p>
    <p>Таблица "Тарифы"</p>
    <p><a class="btn btn-default" href="/Tariffs">Перейти</a></p>
</div>

